.controls {
  position: absolute;
  left: calc(50% - 200px);
  width: 400px;
  height: 100px;
  background-color: aliceblue;
  top: 0;
  z-index: 9999;
  border: 2px solid #41417a;
  -webkit-box-shadow: -2px 13px 5px -8px rgba(0,0,0,0.25);
  -moz-box-shadow: -2px 13px 5px -8px rgba(0,0,0,0.25);
  box-shadow: -2px 13px 5px -8px rgba(0,0,0,0.25);
  border-radius: 4px;
  padding: 8px;
}